# Q31. User will provide 2 numbers you have to find the HCF of those 2 numbers

In [1]:
def lcm(a, b):
    if a>b:
        greater=a
    else:
        greater=b
    
    while True:
        if((greater%a == 0) and (greater%b == 0)):
            lcm = greater
            break

        greater += 1
        
    return lcm

a = int(input('Enter a first number: '))
b = int(input('Enter a second number: '))

print(f'L.C.M of {a} and {b} is {lcm(a,b)}')

Enter a first number: 12
Enter a second number: 18
L.C.M of 12 and 18 is 36

# Q32. Print first 25 prime numbers

In [2]:
def seive(count):
    prime = [0]*100
    for i in range(2, 100):
        if(prime[i] == 0):
            for j in range(i**2, 100, i):
                prime[j] = 1

    for i in range(2, 100):
        if (count>=0):
            if (prime[i] == 0):
                print(i)
                count-=1
        else:
            break

seive(25)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Q33. Print the first 20 numbers of a Fibonacci series

In [3]:
def fibonacci(first, second, num):
    if num==0:
        return 
    if first == 0:
        print(first)
        
    print(second)
    temp = first
    first = second
    second = temp + first
    fibonacci(first, second, num-1)

fibonacci(0,1,20)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

# Q34. Write a program to find the compound interest

In [12]:
# compound interest = 1+ rate of interest/no of years
def compInt(rate, year):
    return 1 + (rate/year)

rate = int(input('Enter rate of interest: '))
year = int(input('Eneter the time in year: '))
print(f'Compound interest for {year} year and of rate {rate}% is {compInt(rate, year):.2f}')

Enter rate of interest: 4
Eneter the time in year: 3
Compound interest for 3 year and of rate 4% is 2.33

# Q35. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [4]:
def compute(num):
    n = str(num)
    single_n = num
    double_n = int(n*2)
    triple_n = int(n*3)
    return single_n + double_n + triple_n

print(compute(5))

615

# Q36. Take a number from the user and find the number of digits in it.

In [5]:
num = int(input('Enter a number: '))

def numOfDigits(num):
    sum = 1
    for i in range(10):
        if(num<10):
            break
        else:
            num = num//10
            sum+=1
    return sum

# another method
# def digits(num):
#     return len(str(num))

print(f'{num} conatins {numOfDigits(num)}')

Enter a number: 123456
123456 conatins 6

# Q37. Print all factors of a given number provided by the user.

In [6]:
num = int(input('Enter a number: '))

def factors(num):
    i = 2
    factors = [1]
    while num>1:
        if num%i == 0:
            num = num/i
            factors.append(i)
        else:
            i+=1
    return factors

print(f'factors of {num} is {factors(num)}')

Enter a number: 18
factors of 18 is [1, 2, 3, 3]

# Q38. Find the reverse of a number provided by the user(any number of digit)

In [7]:
num = int(input('Enter a number: '))

def reverse(num):
    if(num<10):
        return str(num)
    return str(num%10) + str(reverse(num//10))

print(f'Reverse of {num} is {reverse(num)}')

Enter a number: 123456
Reverse of 123456 is 654321

# Q39. Write a program to print the following pattern

```
*
**
***
****
*****
```

In [8]:
for i in range(5):
    for j in range(5):
        if (i>=j):
            print('*', end="")
    print('')

*
**
***
****
*****

# Q40. Write a program to print the following pattern
```
*
**
***
**
*

```

In [9]:
for i in range(3):
    for j in range(3):
        if(i>=j):
            print("*", end='')
    print('')
i=3
while i>=1:
    for j in range(i-1):
        print('*', end='')
    i-=1   
    print('')

*
**
***
**
*