# Q41. Write  a program to print the following pattern
```
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
```

In [1]:
height = 5
for i in range(height):
    for j in range(height-i+1):
        print(' ', end=' ')
    for j in range(2*i + 1):
        print('*', end=' ')
    print('')

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *

# Q42. Write a program to print the following pattern
```
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
```

In [2]:
height = 5
for i in range(height):
    for j in range(i + 1):
        print(j+1, end =' ')
    for j in range(i):
        print(i-j, end =' ')
    print('')

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

# Q43. Write a program to print the following pattern
```
1
2 3
4 5 6
7 8 9 10
```

In [3]:
height = 4
num = 1
for i in range(height):
    for j in range(i+1):
        print(num, end=' ')
        num+=1
    print('')

1
2 3
4 5 6
7 8 9 10

# Q44. Write a program to calculate the sum of the following series till the nth term
# 1/1! + 2/2! + 3/3! + 4/4! +…….+ n/n!
# n will be provided by the user

In [4]:
num = int(input('Enter a number: '))
def factorial(num):
    if num == 1:
        return 1
    return num * factorial(num-1)

sum = 0
for i in range(num):
    divide = (i+1)/factorial(i+1)
    sum += divide

print(f'1/1! + 2/2! +...+ {num}/{num}! = {sum}')

Enter a number: 5
1/1! + 2/2! +...+ 5/5! = 2.708333333333333

# Q45. Write a Python Program to Find the Sum of the Series till the nth term: 
# 1 + x^2/2 + x^3/3 + … x^n/n
# n will be provided by the user

In [5]:
num = int(input('Enter power: '))
x = int(input('Enter a number: '))

sum = 1
for i in range(2, num+1):
    sum = x**i/i

print(f'1 + {x}^2/2 +...+ {x}^{num}/{num} = {sum}')

Enter power: 5
Enter a number: 2
1 + 2^2/2 +...+ 2^5/5 = 6.4